body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.required-star {
  color: red !important
}
.frame-43055,
.frame-43055 * {
  box-sizing: border-box;
}
.frame-43055 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(4, 58, 110, 1) 100%
  );
  height: 478px;
  position: relative;
  overflow: hidden;
}
.frame-43055 .frame-43054 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 997px;
  position: absolute;
  left: calc(50% - 600px);
  top: 50%;
  translate: 0 -50%;
}
.frame-43055 .direct-access-to-leadership {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Black", sans-serif;
  font-size: 61px;
  font-weight: 900;
  position: relative;
  align-self: stretch;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-43055
  .you-no-longer-need-to-wait-in-long-queues-at-government-offices-or-rely-on-unresponsive-representatives-the-latchiya-jananayaga-party-ljk-believes-in-proactive-governance-whether-it-s-a-broken-pipe-a-dark-street-admission-issues-or-civic-neglect-use-this-portal-to-alert-us-directly-every-grievance-submitted-here-is-tracked-categorized-and-brought-to-the-attention-of-our-constituency-action-teams-and-our-leader-jose-charles-martin {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-43055 .ellipse-19 {
  background: #e2a713;
  border-radius: 50%;
  width: 242px;
  height: 242px;
  position: absolute;
  left: 1148px;
  top: 379px;
  aspect-ratio: 1;
}
.frame-43055 .unnamed-2 {
  width: 269.18px;
  height: 341.45px;
  position: absolute;
  left: 1147.76px;
  top: 153px;
  transform-origin: 0 0;
  transform: rotate(8.209deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 269.18/341.45;
}